<div class="dashboard" >
<!--    <router-outlet></router-outlet>-->

        <aside class="chat-users">
            <div class="search">
                <input type="text" placeholder="Search" class="search__input">
            </div>
            <ul class="chat-users__list" >
                <li class="chat-user"
                    *ngFor="let chatMember of chatMembers"
                    (click)="getSelectedUserId(chatMember)">
                    <img class="chat-user__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                    <div><p class="chat-user__name">{{chatMember.username}}</p> </div>
                </li>
            </ul>
        </aside>


        <main>
            <div class="message__block">
                <ul class="chat">
                    <li class="you">
                        <div class="message">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </div>
                    </li>
                    <li class="me">
                        <div class="message">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </div>
                    </li>
                </ul>
                <div class="type">
                    <div><textarea placeholder="Type your message" [(ngModel)]="message"></textarea></div>
                  <button class="type__btn" type="button" (click)="sendData()">Send</button>
                  <div class="room">
                    <input class="room__input" placeholder="Select room">
                    <button class="type__btn" type="button">Join</button>
                    </div>
                </div>
            </div>
        </main>

</div>
