<form class="form">
    <h2 class="form__title">Sign In</h2>
    <mat-form-field class="form__field" appearance="standard">
      <mat-label class="form__label">Email</mat-label>
      <input class="form__input" matInput placeholder="" >
      <mat-icon class="form__icon" matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="standard">
      <mat-label class="form__label">Password</mat-label>
      <input class="form__input" matInput placeholder="">
      <mat-icon class="form__icon" matSuffix>lock</mat-icon>
    </mat-form-field>

    <button class="form__btn btn" mat-raised-button color="primary">Sign In</button>

    <p class="form__text">Not registered? <a routerLink="/auth/sign-up" routerLinkActive="active">Create an acount</a></p>
</form>

